---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
const pageTitle = "Writings by Trenton Kennedy";
const allWritings = await Astro.glob("../pages/writings/*mdx");
---

<Layout title={pageTitle}>
    <div>
        <h1 class="text-4xl font-bold">Thoughts, Prototypes, & Ideas</h1>
        <div class="my-10 grid grid-cols-1 lg:grid-cols-3">
            {
                allWritings.map((article) => (
                    <div class="my-6">
                        <a href={article.url}>
                            <div class="w-[250px] h-[250px] overflow-hidden">
                                <Image
                                    src={
                                        article.frontmatter.cover
                                            ? article.frontmatter.cover
                                            : "/3b21e96676f7400fb61d071518714734.jpg"
                                    }
                                    width={250}
                                    height={250}
                                    alt={article.frontmatter.title}
                                />
                            </div>
                            <span class="font-bold text-lg">
                                {article.frontmatter.title}
                            </span>
                            <p class="text-sm">{article.frontmatter.date}</p>
                            <i class="text-sm">
                                {article.frontmatter.description}
                            </i>
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</Layout>
